/*SCSS */
$primary-color: #FFFFFF;
$secondary-color: #F9F9F9;
$red: #ad0000;
$light: #EEEEEE;
$black: black;
$font-stack: 'Open Sans', sans-serif;

/*CSS*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
      padding: 25px;
      font-family: $font-stack;
      width: 100%;
      background-image: url(https://4.bp.blogspot.com/-b5ol2tT2-8U/VSPSEjBNWeI/AAAAAAABgf0/vvG0NqwM1O0/s0/Architecture_EMP_Museum_uhd.jpg);
      
}

/*PURE*/
.pure-g {
      margin-bottom: 25px;
      font-family: $font-stack;
}

.pure-u-1 {
      box-sizing: border-box;
      padding: 25px;
      text-align: center;
      font-family: $font-stack;
}

.pure-menu{
      position: fixed;
      background-color: $primary-color;
      height: 50px;
      margin-top: -26px;
      font-family: $font-stack;
}

.pure-menu-item{
      letter-spacing: normal;
}

.pure-menu-link:hover{
      color: $red;
}

.pure-menu-list{
      float: right;
      margin-right: 45px;
      font-family: $font-stack;
}

.pure-menu-link{
      float: left;
}

.pure-u-lg-1-3{
      width: 33%;
}

.pure-button {
      background-color: $black;
      width: 10%;
      font-size: 0.95rem;
      font-weight: 300;
      text-transform: uppercase;
      height: 40px;
}

.pure-button:hover {
      background-color: $red;
      transition: all .25s;
}

input{
      width: 25%;
}

#foo {
      height: 200px;
}

#name:focus, #password:focus, #foo:focus{
      border: 1px solid $red;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

/* own */
h1 {
      font-size: 4em;
      font-weight: lighter;
      font-family: $font-stack;
      height: 350px;
      margin-top: -15px;
      width: 100%;
      color: $primary-color;
      padding-top: 200px;
}

h2 {
      font-size: 1.1em;
      font-weight: 900;
      margin-bottom: 25px;
      font-family: $font-stack;
}

h3{
      font-weight: 300;
      font-size: 36px;
      margin: 40px auto 20px;
      font-family: $font-stack;
}

h4{
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 20px;
      font-family: $font-stack;
}

p {
      margin-bottom: 25px;
      font-family: $font-stack;
      line-height: 1.6em;
      font-size: 16px;
      font-weight: 300;
}

ul {
      list-style-type: none;
      padding: 0;
}

ul li a {
      text-decoration: none;
      font-family: $font-stack;
}

#work {
      width: 30%;
      margin-right: 10px;
      margin-bottom: 20px;
      border: 1px solid $light;
}

.light{
      width: 10%;
      height: 2px;
      background-color: $light;
      margin: 15px auto 20px;
}

.about {
      width: 40%;
      margin: auto;
      margin-bottom: 80px;
      font-family: $font-stack;
}

i{
      margin-bottom: 20px;
}

.text-right {
      float: right;
      font-weight: 500;
}

.soon {
      font-size: 20px;
      font-weight: 500;
      font-family: $font-stack;
}

footer{
      background-color: $black;
      height: 120px;
      margin-top: -25px;
}

#service, #client {
      background-color:  $secondary-color;
      height: 400px;
}

#previous {
      margin-bottom: 50px;
}

#previous, #me, #hire {
      background-color: $primary-color;
}

#client{
  margin-top: -50px;
}

footer ul li a{
      color: $primary-color;
      float: left;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li:not(:first-child) a {
    margin-left: 1em;
}

footer ul a {
    display: block;
    padding: 0.5em .65rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    border: 2px solid;
    margin-top: 40px;

    &:hover,
    &:focus {
      color: $red;
      transition: all .25s;
  }
}

button {
    margin-top: 20px;
}



/*Media query*/
@media (max-width: 48em) {
      li a {
            color: red;
      }

      li {
            display: inline;
            margin-right: 10px;
      }
}
